h3{
	text-align:center;
	color: #A3FF85;
}
h2{
	text-align:center;
	color: #A3FF85;
}
body{           
	font-family: Arial, Georgia, sans-serif;
	font-size: 12pt;
	line-height: 1em;
	height: 100%;
	background:#4C0000;
}